@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  width: 100%;
  height: 100%;
}

html,
body {
  background-color: black;
  color: white;
}

@layer components {
  .text-gradient {
    background: linear-gradient(95deg, #7dfa0a 17.93%, #ff5926 65.43%);
    @apply bg-clip-text text-transparent;
  }
  .text-body {
    @apply text-base md:text-lg lg:text-xl font-medium;
  }

  .btn-primary {
    background: linear-gradient(96deg, #61c604 -34.09%, #df481a 124.84%);
    @apply inline-flex items-center justify-center gap-2 px-4 py-2 font-semibold text-sm sm:text-base rounded-lg cursor-pointer transition-all;
  }
  .btn-primary:hover {
    background: linear-gradient(96deg, #51a703 -34.09%, #e63615 124.84%);
  }
}
